.App {
  text-align: center;
}

.btn {
  border-radius: 1rem !important;
}

.card-head {
  font-size: 4rem;
  font-weight: bold;
}

.tiff-container{
  width:100%;
  margin:0, auto;
  align-items: center;
  background-color: lightslategrey !important;
}

.react-transform-wrapper {
  border: .25rem solid;
  border-radius: 2rem
}
